<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link href="/favicon.ico" rel="icon">

  <title>CV Ramon</title>

  <link href="css/main.3f6952e4.css" rel="stylesheet">
  <link href="css/typing.css" rel="stylesheet">

</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index" title="">01 : Home</a></li>
            <li><a href="/works" title="">02 : Meu trabalho</a></li>
            <li><a href="/me" title="">03 : Sobre mim</a></li>
            <li><a href="/astro" title="">04 : Astrofotografias</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : Sobre mim</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Ramon Carlos Gargalhone</h3>
                  <p>Engenheiro Eletricista pela UFSJ, atualmente bolsista CNpQ no Laboratorio Nacional de
                    Astrofisica (LNA).
                    Programador com experiencia em sistemas embarcados e backend.</p>
                  <h3>Programacao </h3>
                  <p>Experiencia utilizando as linguagens C, C# e desenvolvimento web, com html, css e NodeJS.</p>
                  <h3><i class="bi bi-code"></i></h3>
<pre id="typewriter" style="height: 130px;">
<span class="type-comment-c">// Linguagem C </span>
<span class="var-highlight">int</span> <span class="node-highlight">main</span>() {
    </span>printf(<span class="string-highlight">'Hello World!'</span>);
    <span class="var-highlight">return</span> <span class="type-sec">0</span>;
}
    </pre>
<pre id="typewriter2" style="height: 110px;">
<span class="type-comment">// Web dev com NODEJS</span>
<span class="node-highlight">app</span>.<span class="var-highlight">get</span>('/', <span class="node-highlight">function</span>(req, res) {
    <span class="node-highlight">res.</span><span class="type-sec">send</span>(<span class="string-highlight">'Feito usando NodeJS! ^^'</span>)
})
    </pre>

                  <h3><i class="bi bi-code-slash"></i></h3>

                  <h3>Intercambio </h3>
                  <p>
                    Durante um ano, vivi e estudei Engenharia Elétrica nos Estados Unidos, pela California State
                    University Fullerton, complementando minha formação e experiência.</p>
                  <h3>Trabalho Voluntario</h3>
                  <p>
                    ONG criada por pessoas que acreditam na recuperação e preservação do meio ambiente utilizando como
                    ferramenta a educação ambiental
                    e a conscientização ecológica. Atua como membro ativo desde 2008 em diversas atividades referentes a
                    preservação e conscientização.
                    Sou responsável pela criação de aplicativos de mapeamento de mudas e
                    localidades sensíveis e/ou de importância logística e controle de estoque de viveiro, além de
                    participar na criação e desenvolvimento da webpage, que voce pode conferir aqui: <a href="http://abutres.herokuapp.com/" target="_blank">ABRIR</a> </p>
                  <h3>Fontes renovaveis</h3>
                  <p>
                    Atuei com a equipe da Solar City, localizada em Barbacena-MG, no projeto de sistemas fotovoltaicos,
                    aplicando e desenvolvendo
                    meus conhecimentos com temas relacionados a Energias Renováveis e Impactos da Geração Distribuída
                    em sistemas de Distribuição de Energia Elétrica.</p>
                  
                </div>
                <div class="col-xs-12 col-md-6" style="padding-left: 100px">
                  <img src="/images/profil.jpg" style="border-radius: 50%; width: 250px; height: 250px;"
                    class="img-responsive" alt="me :)">
                  <h3>Contact-me!</h3>
                  <ul class="list-unstyled">
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                      <a href="https://api.whatsapp.com/send?phone=5535997458237">+55 35 997458237</a>
                    </li>
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                      </span>
                      ramonefoster@gmail.com
                    </li>
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                      </span>
                      Itajuba - MG
                    </li>
                  </ul>
                  <h3> Social Media</h3>
                  <a href="https://www.instagram.com/ramonefoster/" title="" class="fa-icone">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="https://github.com/ramonefoster/" title="" class="fa-icone">
                    <i class="fa fa-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/ramonefoster/" title="" class="fa-icone">
                    <i class="fa fa-linkedin"></i>
                  </a>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© 2021 | RCG </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      type();
      typeWriter();
    });
  </script>

  <script type="text/javascript" src="js/main.70a66962.js"></script>
  <script type="text/javascript" src="js/typing.js"></script>


</body>

</html>